body {margin:0;padding:0;}

.iframe-frame {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: block;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	margin: 0;
	padding: 0;
	border: 3px solid red;
	position: absolute;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* Height value unit cannot be in "px", must be in "vh", which means to viewport-height. */

.div01 {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 80px;
	max-width: 100%;
	display: block;
	
}


