body {margin:0;padding:0;}

.iframe-frame {
	display: block;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	margin: 0;
	padding: 0;
	border: 0 none;
}

/* Height value unit cannot be in "px", must be in "vh", which means to viewport-height. */

.div01 {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 80px;
	max-width: 100%;
	display: block;
	
}

@media screen and (max-width: 481px) {
	.html-body {
		padding-right: 0;
		padding-left: 0;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;-
		ms-flex-pack: start;
		justify-content: flex-start;
		-ms-flex-direction: row;
		flex-direction: row;
		position: absolute;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		display:-ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		display: none;
	}
}
